# Node modules
node_modules/

# Logs
logs/
*.log

# Build directories
build/
dist/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# MacOS and Linux
.DS_Store
*.swp

# VSCode directory
.vscode/